#projects/68865704160/locations
name: Build and Push to Artifact Registry

on:
  push:
    branches: ["main"]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Build with Maven
        run: mvn clean package -DskipTests=true

      - name: Authenticate to Google Cloud (WIF)
        uses: google-github-actions/auth@v2
        with:
          token_format: access_token
          workload_identity_provider: ${{ secrets.WORK_LOAD_IDENTITY }}
          service_account: ${{ secrets.SERVICE_ACCOUNT }}

      - name: Configure Docker for Artifact Registry
        run: |
          gcloud auth configure-docker us-central1-docker.pkg.dev --quiet
          
      - name: Build Docker image
        run: |
          IMAGE="us-central1-docker.pkg.dev/ajith-8006/apigee-12092025/simple-web-server:${GITHUB_SHA}"
          echo "IMAGE=$IMAGE" >> $GITHUB_ENV
          docker build -t "$IMAGE" .
      
      - name: Push Docker image
        run: |
          docker push "$IMAGE"
      
      - name: Output image URLs
        run: |
          echo "Pushed image: $IMAGE"
          

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy simple-web-server \
            --image "$IMAGE" \
            --region us-central1 \
            --platform managed \
            --allow-unauthenticated \
            --quiet

